@layout('layouts.app')

@section('styles')

@endsection

@section('content')


<div class="results p-3 d-none">
    
  <div class="mt-4">
    <h3>Events</h3>
    <div class="result">
      <pre><code id="events"></code></pre>
    </div>
  </div>
</div>

      

@endsection


@section('scripts')

  
@endsection
